<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>AnteDo</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
</head>
<body>

</body>
<script type="text/javascript" src="${request.getContextPath()}/dwr/engine.js"></script>
<script type="text/javascript" src="${request.getContextPath()}/dwr/util.js"></script>
<script type="text/javascript" src="${request.getContextPath()}/dwr/interface/tedoPush.js"></script>
<script>

    var id = 65535;
    if(id!=""){
        dwr.engine.setActiveReverseAjax(true);dwr.engine.setNotifyServerOnPageUnload(true);
        tedoPush.sendMessageAuto(id,"www.yoodb.com");
    }
</script>
</html>