<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<meta name="keyword" content="">
<meta http-equiv="x-pjax-version" content="${runConfig.XPJAXVersion}"/>
<link rel="shortcut icon" href="${resRoot}/img/favicon.png">
<#include "view/main/includes/css.html"/>

<!-- Bootstrap and necessary plugins -->
<script type="text/javascript" src="${resRoot}/assets/js/libs/jquery.min.js"></script>
<script type="text/javascript" src="${resRoot}/assets/js/libs/jquery-migrate-1.1.0.min.js"></script>
<script type="text/javascript" src="${resRoot}/assets/js/libs/jquery.pjax.js"></script>
<script type="text/javascript" src="${resRoot}/assets/js/libs/nprogress.js"></script>
<script type="text/javascript" src="${resRoot}/assets/js/libs/tether.min.js"></script>
<script type="text/javascript" src="${resRoot}/assets/js/libs/bootstrap.min.js"></script>
<!-- Plugins and scripts required by all views -->
