.selection-handle, .selection-border {
    /*z-index: 1000;*/
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.selection-handle {
    position: absolute;
    height: 6px;
    width: 6px;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    top: 0;
    left: 0;
}

.selection-handle-resize {
    background: #757575;
}

.selection-handle-resize:hover {
    background: #2196f3;
}

.selection-handle-resize:active, .selection-handle-resize.active {
    background: #3498bd;
}

.selection-handle-locator {
    position: absolute;
    height: 0;
    width: 0;
}

.selection-handle-locator-left-top {
    top: 0;
    left: 0;
}

.selection-handle-locator-left-bottom {
    left: 0;
    bottom: 0;
}

.selection-handle-locator-right-bottom {
    right: 0;
    bottom: 0;
}

.selection-handle-locator-right-top {
    right: 0;
    top: 0;
}

.selection-handle-locator-center-top {
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.selection-handle-locator-center-bottom {
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.selection-handle-locator-left-center {
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
}

.selection-handle-locator-right-center {
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
}

.selection-handle-locator-center {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.selection-handle-rotate {
    width: 8px;
    height: 8px;
    border: none;
    background: #757575;
    border-radius: 4px 4px 0 0;
}

.selection-handle-rotate:hover {
    background: #2196f3;
}

.selection-handle-rotate:active {
    background: #3498bd;
}

.selection-border {
    position: absolute;
    left: 0;
    top: 0;
    /*height: 2px;
    width: 2px;*/
    background: #fff;
    border: 1px dashed #757575;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*box-shadow: 0 0 4px #aaa;*/
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.selection-border-linkrotate {
    height: 10px;
    background-color: #757575;
}

body[data-cursor="nw-resize"] * {
    cursor: nw-resize !important;
}

body[data-cursor="n-resize"] * {
    cursor: n-resize !important;
}

body[data-cursor="ne-resize"] * {
    cursor: ne-resize !important;
}

body[data-cursor="e-resize"] * {
    cursor: e-resize !important;
}

body[data-cursor="se-resize"] * {
    cursor: se-resize !important;
}

body[data-cursor="s-resize"] * {
    cursor: s-resize !important;
}

body[data-cursor="sw-resize"] * {
    cursor: sw-resize !important;
}

body[data-cursor="w-resize"] * {
    cursor: w-resize !important;
}

body[data-cursor="rotate"] * {
    cursor: url(rotate.png) 8 8,auto !important;
}
